h1{
    color: red;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f1f1f1;
}

.player{
    margin: 0 10px;
}

.inactive{
    opacity: 0.5;
    cursor: not-allowed;
    pointer-events: none;
}

.hidden{
    display: none;
}